apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "dfuse-demo.fullname" . }}
  labels:
    {{- include "dfuse-demo.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
  - hosts:
    - {{ include "dfuse-demo.dapi-domain" . }}
    - {{ include "dfuse-demo.nodeos-domain" . }}
    - {{ include "dfuse-demo.nm-domain" . }}
    - {{ include "dfuse-demo.pm-domain" . }}
    - {{ include "dfuse-demo.eosq-domain" . }}
    secretName: {{ include "dfuse-demo.fullname" . }}
  rules:
  - host: {{ include "dfuse-demo.dapi-domain" . }}
    http:
      paths:
      - path: /dfuse.eosio.v1.GraphQL/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13024
      - path: /dfuse.graphql.v1.GraphQL/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13024
      - path: /grpc.reflection.v1alpha.ServerReflection/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13024
      - path: /graphiql/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13023
      - path: /graphql
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13023
      - path: /v1/chain/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13026
      - path: /v1/stream
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13026
      - path: /v0/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13026
      - path: /v1/
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13026
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13026
  - host: {{ include "dfuse-demo.nodeos-domain" . }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 8888
  - host: {{ include "dfuse-demo.nm-domain" . }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13008
  - host: {{ include "dfuse-demo.pm-domain" . }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 9102
  - host: {{ include "dfuse-demo.eosq-domain" . }}
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: {{ include "dfuse-demo.fullname" . }}
            port:
              number: 13030